// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

.intro {
    .avatar {
        img {
            width: 256px;
            box-shadow: 0 0 0 0 !important;
            -webkit-box-shadow: 0 0 0 0 !important;
        }
    }
}
